body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(38, 45, 54);
  color:white;
  max-width: 1000px;
  margin: 0 auto;
}

footer, .top, h2 {
  background-color: rgba(155, 108, 76, 0.979);
  border-radius: 20px;
  font-weight: 400;
  text-align: center;
  margin: 5px 4%;
  padding-top: 5px;
}

nav, a {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

nav ul, a {
  display: inline-flex;
  gap: 80px;
}

nav ul li a, a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  align-content: center;
}

nav ul li a:hover, a:hover {
  color:  rgba(155, 108, 76, 0.979);
  font-weight: 800;
}

.top {
  padding-bottom: 10px;
}

.center {
  padding: 20px 10%;
}

.center span {
  display: flex;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: rgba(155, 108, 76, 0.979);
  margin-bottom: 20px;
  margin-top: 40px;
}

footer img {
  max-width: 50px;
  max-height: 50px;
}

form {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
  max-width: 400px;
  line-height: 40px;
  margin: 30px auto;
}

input, label {
  text-align: center;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding: 5px;
}

a{
  margin: 5px 5px 5px 5px;
}

fieldset {
  justify-items: center;
}